orders:
  task-queue: "${TEMPORAL_TASK_QUEUE:orders}"

shipping:
  task-queue: "${TEMPORAL_TASK_QUEUE:orders}"

spring:
  application:
    name: temporal-ordermgmt-core
  temporal:
    namespace: ${TEMPORAL_NAMESPACE}
    connection:
      target: ${TEMPORAL_ADDRESS}
    workersAutoDiscovery:
      packages:
        - com.example.ordermgmt.workflows
        - com.example.ordermgmt.activities
