__pycache__
.envrc
target
.*.swp
.*.swo
*.iml
.DS_Store
.idea
.gradle
**/build
/core/build
**/out
**/core/out
.classpath
.project
.settings/
bin/
.github/workflows/SA_TOKEN
.local/
setcloudenv.sh
java/bin/
java/env.sh
