#!/bin/bash

### COPY THIS FILE TO `setcloudenv.sh`, and then EDIT YOUR COPY AS NEEDED

# See https://docs.temporal.io/references/client-environment-configuration
# for more information on the available environment variables used by the Temporal client.

# env vars that need to be set when connecting to cloud via mTLS
export TEMPORAL_ADDRESS=<namespace>.<accountId>.tmprl.cloud:7233
export TEMPORAL_NAMESPACE=<namespace>.<accountId>
export TEMPORAL_TLS_CLIENT_CERT_PATH=<path/to/client.pem>
export TEMPORAL_TLS_CLIENT_KEY_PATH=<path/to/client.key>

# env vars that need to be set when connecting to cloud via API key
export TEMPORAL_ADDRESS=<region>.<cloudProvider>.api.temporal.io:7233
export TEMPORAL_NAMESPACE=<namespace>.<accountId>
export TEMPORAL_API_KEY=<apiKey>

# env vars to optionally set, or customize for your environment
export TEMPORAL_TASK_QUEUE=orders
export TEMPORAL_NEXUS_TASK_QUEUE=shipping
export TEMPORAL_NEXUS_SHIPPING_ENDPOINT=shipping-endpoint


# the alternate, over-engineered :), way using the temporal cli to populate the vars
# get_value() {
#     temporal --profile ${TEMPORAL_PROFILE} config get --prop ${1} --output json | jq -r '.value'
# }

# TEMPORAL_PROFILE=<profile>
# export TEMPORAL_ADDRESS=$(get_value address)
# export TEMPORAL_NAMESPACE=$(get_value namespace)
# export TEMPORAL_TLS_CLIENT_CERT_PATH=$(get_value tls.client_cert_path)
# export TEMPORAL_TLS_CLIENT_KEY_PATH=$(get_value tls.client_key_path)
# export TEMPORAL_API_KEY=$(get_value api_key)
