#!/bin/bash

### COPY THIS FILE TO `setcloudenv.sh`, and then EDIT YOUR COPY AS NEEDED

# See https://docs.temporal.io/references/client-environment-configuration
# for more information on the available environment variables used by the Temporal client.

# env vars that need to be set when connecting to cloud via mTLS
export TEMPORAL_ADDRESS=<namespace>.<accountId>.tmprl.cloud:7233
export TEMPORAL_NAMESPACE=<namespace>.<accountId>
export TEMPORAL_TLS_CLIENT_CERT_PATH=<path/to/client.pem>
export TEMPORAL_TLS_CLIENT_KEY_PATH=<path/to/client.key>

# env vars that need to be set when connecting to cloud via API key
export TEMPORAL_ADDRESS=<region>.<cloudProvider>.api.temporal.io:7233
export TEMPORAL_NAMESPACE=<namespace>.<accountId>
export TEMPORAL_API_KEY=<apiKey>

# env vars to optionally set, or customize for your environment
export TEMPORAL_TASK_QUEUE=orders
export TEMPORAL_NEXUS_TASK_QUEUE=shipping
export TEMPORAL_NEXUS_SHIPPING_ENDPOINT=shipping-endpoint


## Alternate ways to set the env vars using the temporal CLI

######## IF you are using the legacy CLI `env` option
# get_env_value() {
#     temporal --env ${TEMPORAL_ENV} env get --key ${1} --output json | jq -r '.[].value'
# }

# TEMPORAL_ENV=<env>
# export TEMPORAL_ADDRESS=$(get_env_value address)
# export TEMPORAL_NAMESPACE=$(get_env_value namespace)
# export TEMPORAL_TLS_CLIENT_CERT_PATH=$(get_env_value tls-cert-path)
# export TEMPORAL_TLS_CLIENT_KEY_PATH=$(get_env_value tls-key-path)
# export TEMPORAL_API_KEY=$(get_env_value api-key)

######## ELSE IF you are using the new CLI `config` option
get_config_value() {
    temporal --profile ${1} config get --prop ${2} --output json | jq -r '.value'
}

# TEMPORAL_PROFILE=<profile>
# export TEMPORAL_ADDRESS=$(get_config_value $TEMPORAL_PROFILE address)
# export TEMPORAL_NAMESPACE=$(get_config_value $TEMPORAL_PROFILE namespace)
# export TEMPORAL_TLS_CLIENT_CERT_PATH=$(get_config_value $TEMPORAL_PROFILE tls.client_cert_path)
# export TEMPORAL_TLS_CLIENT_KEY_PATH=$(get_config_value $TEMPORAL_PROFILE tls.client_key_path)
# export TEMPORAL_API_KEY=$(get_config_value $TEMPORAL_PROFILE api_key)

#### FOR JAVA AND NEXUS DEMO - you can also set a 2nd profile for the Nexus handler namespace
# TEMPORAL_NEXUS_PROFILE=<profile>
# export TEMPORAL_NEXUS_ADDRESS=$(get_config_value $TEMPORAL_NEXUS_PROFILE address)
# export TEMPORAL_NEXUS_NAMESPACE=$(get_config_value $TEMPORAL_NEXUS_PROFILE namespace)
# export TEMPORAL_NEXUS_TLS_CLIENT_CERT_PATH=$(get_config_value $TEMPORAL_NEXUS_PROFILE tls.client_cert_path)
# export TEMPORAL_NEXUS_TLS_CLIENT_KEY_PATH=$(get_config_value $TEMPORAL_NEXUS_PROFILE tls.client_key_path)
# export TEMPORAL_NEXUS_API_KEY=$(get_config_value $TEMPORAL_NEXUS_PROFILE api_key)
