orders:
  task-queue: "${TEMPORAL_TASK_QUEUE:shipping}"

shipping:
  task-queue: "${TEMPORAL_NEXUS_TASK_QUEUE:shipping}"

spring:
  application:
    name: temporal-ordermgmt-shipping
  temporal:
    namespace: ${TEMPORAL_NAMESPACE}
    connection:
      target: ${TEMPORAL_ADDRESS}
    workers:
      - task-queue: ${TEMPORAL_NEXUS_TASK_QUEUE:shipping}
        workflow-classes:
          - com.example.ordermgmt.workflows.ShippingWorkflowImpl
        activity-beans:
          - orderActivitiesImpl
    start-workers: false
