{% extends 'base.html' %}

{% block content %}

<body>
    <section>
        <h2>Temporal Orders</h2>
    </section>

    <div id="orders">
        <section>
            <h3>Order Details</h3>
            <table>
                <colgroup>
                    <col style="width: 40%;">
                    <col style="width: 60%;">
                </colgroup>
                <tr>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
                {% for key, value in order_data.items() %}
                <tr>
                    <td>{{ value['quantity'] }}</td>
                    <td>{{ value['item'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section>
            <h3>Payment Information</h3>
            <table>
                <colgroup>
                    <col style="width: 40%;">
                    <col style="width: 60%;">
                </colgroup>
                <tr>
                    <td>Name</td>
                    <td>{{ payment_data['name'] }}</td>
                </tr>
                <tr>
                    <td>Credit Card Type</td>
                    <td>{{ payment_data['card_type'] }}</td>
                </tr>
                <tr>
                    <td>Credit Card Number</td>
                    <td>{{ payment_data['card_number'] }}</td>
                </tr>
            </table>
        </section>

        <section>
            <h3>Shipping Information</h3>
            <table>
                <colgroup>
                    <col style="width: 40%;">
                    <col style="width: 60%;">
                </colgroup>
                <tr>
                    <td>Name</td>
                    <td>{{ shipping_data['name'] }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ shipping_data['address'] }}</td>
                </tr>
            </table>
        </section>
    </div>

    <section>
        <h4>Choose Scenario</h4>
        <select id="scenario" name="scenario">
            {% for choice in scenarios %}
            <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
        </select>
    </section>

    <section id="apikeybox">
        <div class="apikey-column">
            <h3>Update Key</h3>
            <input id="apikey" name="apikey" value="{{ api_key }}" />
            <div class="button-container">
                <button type="button" onclick="updateAPIKey(false)" class="btn btn-primary">
                    Update Worker API Key
                </button>
            </div>
        </div>

        <div class="apikey-column">
            <h3>Remove Key</h3>
            <p>This will result in the worker being unable to connect to the Temporal namespace.</p>
            <div class="button-container">
                <button type="button" onclick="updateAPIKey(true)" class="btn btn-danger">
                    Remove Worker API Key
                </button>
            </div>
        </div>
    </section>

    <section id="placeOrder" class="button-container">
        <button type="button" onclick="placeOrder()" class="btn btn-primary">
            Place Order
        </button>
    </section>

    <section>
        <input type="hidden" id="order_id" value="{{ order_id }}">
    </section>

    <script>
        function placeOrder() {
            var selectedScenario = document.getElementById('scenario').value;
            var order_id = document.getElementById('order_id').value;
            window.location.href = '/process_order?scenario=' + encodeURIComponent(selectedScenario) + '&order_id=' + encodeURIComponent(order_id);
        }

        async function updateAPIKey(clearKey) {
            var apikey = "";

            if (!clearKey) {
                apikey = document.getElementById('apikey').value;
            }

            const url = "http://127.0.0.1:3333";

            try {
                const response = await fetch(url, {
                    method: "PUT",
                    body: apikey
                });

                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                } else {
                    alert(`API key ${clearKey ? "cleared" : "updated"}`);
                    window.location.href = '/';
                }
            } catch (error) {
                console.error(error.message);
            }
        }

        function showHideKeyInput() {
            var orders = document.getElementById('orders');
            var apikeybox = document.getElementById('apikeybox');
            var orderButton = document.getElementById('placeOrder');

            if (document.getElementById('scenario').value == "APIKeyRotation") {
                apikeybox.classList.add("visible");
                orders.style.display = 'none';
                orderButton.style.display = 'none';
            } else {
                apikeybox.classList.remove("visible");
                orders.style.display = 'block';
                orderButton.style.display = 'block';
            }
        }

        document.getElementById("scenario").onchange = showHideKeyInput;
    </script>
</body>

{% endblock %}
