{% extends 'base.html' %}

{% block content %}

<body>
    <section>
        <h2>Order Confirmation</h2>
    </section>

    <section>
        <table>
            <tr>
                <th>Order ID</th>
                <td>{{ order_id }}</td>
            </tr>
            <tr>
                <th>Tracking ID</th>
                <td>{{ tracking_id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ address }}</td>
            </tr>
        </table>
    </section>

    <section class="button-container">
        <button onclick="reloadMainPage()" class="btn btn-primary">
            Place New Order
        </button>
    </section>

    <script>
        function reloadMainPage() {
            window.location.href = '/';
        }
    </script>
</body>

{% endblock %}
