{% extends 'base.html' %}

{% block content %}

<body class="text-center">
    <section>
        <h2>Order Processing</h2>
    </section>

    <div class="progress-container">
        <div id="progress-bar" class="progress-bar" style="width: 0%;"></div>
    </div>

    <p>Selected Scenario: {{ selected_scenario }}</p>

    <!-- Elements for HumanInLoopSignal scenario -->
    <div id="humanInLoopSignal" class="human-in-loop-container">
        <label for="signalAddress">Enter Address:</label>
        <input type="text" id="signalAddress">
        <button onclick="signal()" class="btn btn-success">Signal</button>
        <p id="signalCountdown" class="countdown"></p>
    </div>

    <!-- Elements for HumanInLoopUpdate scenario -->
    <div id="humanInLoopUpdate" class="human-in-loop-container">
        <label for="updateAddress">Enter Address:</label>
        <input type="text" id="updateAddress">
        <button onclick="update()" class="btn btn-success">Update</button>
        <p id="updateCountdown" class="countdown"></p>
    </div>      

    <div id="updateResult"></div>
    <p id="error-message" class="error-message"></p> 

    <script>
        var interval;

        function startCountdown(seconds, countdownElement) {
            function updateCountdown() {
                countdownElement.innerText = seconds + ' seconds remaining';
                seconds--;
                if (seconds < 0) {
                    clearInterval(interval);
                    countdownElement.style.display = 'none';
                }
            }
            interval = setInterval(updateCountdown, 1000);
        }        

        var isCountdown = false;
        function updateScenarioElements(selectedScenario, progress) {
            var signalElement = document.getElementById('humanInLoopSignal');
            var updateElement = document.getElementById('humanInLoopUpdate');
            var signalCountdownElement = document.getElementById('signalCountdown');
            var updateCountdownElement = document.getElementById('updateCountdown');

            var isCountdownActive = signalElement.classList.contains('visible') || updateElement.classList.contains('visible');

            if (selectedScenario === 'HumanInLoopSignal' && progress === 75 && !isCountdownActive) {
                signalElement.classList.add("visible");
                if (!isCountdown) {
                    isCountdown = true;
                    startCountdown(59, signalCountdownElement);
                }
            } else if (selectedScenario === 'HumanInLoopUpdate' && progress === 75 && !isCountdownActive) {
                updateElement.classList.add("visible");
                if (!isCountdown) {
                    isCountdown = true;
                    startCountdown(59, updateCountdownElement);
                }                
            }
        }        

        function updateProgress() {
            var urlParams = new URLSearchParams(window.location.search);
            var order_id = urlParams.get('order_id');
            var selectedScenario = urlParams.get('scenario');

            fetch('/get_progress?order_id=' + encodeURIComponent(order_id))
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(`Failed to fetch progress. Status: ${response.status}`);
                    }
                })
                .then(data => {
                    document.getElementById('progress-bar').style.width = data.progress + '%';

                    if (data.progress === 100) {
                        window.location.href = '/order_confirmation?order_id=' + encodeURIComponent(order_id);
                    } else {
                        setTimeout(updateProgress, 1000);
                    }
                    updateScenarioElements(selectedScenario, data.progress);
                })
                .catch(error => {
                    console.error('Error fetching progress:', error.message);
                    document.getElementById('error-message').innerText = error.message;
                    document.getElementById('progress-bar').classList.add("failed");
                });
        }    

        document.addEventListener("DOMContentLoaded", function () {
            updateProgress();
        });

        function signal() {
            var urlParams = new URLSearchParams(window.location.search);
            var order_id = urlParams.get('order_id');
            
            fetch('/signal?order_id=' + encodeURIComponent(order_id), {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ address: document.getElementById('signalAddress').value })
            })
            .then(response => {
                if (response.ok) {
                    console.log('Signal sent successfully');
                } else {
                    console.error('Failed to send signal');
                }
            })
            .catch(error => console.error('Error during signal:', error.message));
        }

        function update() {
            var urlParams = new URLSearchParams(window.location.search);
            var order_id = urlParams.get('order_id');

            fetch('/update?order_id=' + encodeURIComponent(order_id), {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ address: document.getElementById('updateAddress').value })
            })
            .then(response => response.ok ? response.json() : Promise.reject('Failed to send update'))
            .then(data => {
                var updateResultElement = document.getElementById('updateResult');
                updateResultElement.innerText = data.result;
                if (data.result.includes("rejected")) {
                    updateResultElement.style.color = '#dc2626';
                } else {
                    updateResultElement.style.color = '#1f2937';
                }
            })
            .catch(error => console.error('Error during update:', error));
        }   
    </script>
</body>

{% endblock %}
